#### First look at the data

In [13]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd

def try_to_numerify(x):
    try:
        return int(x)
    except:
        try:
            return float(x)
        except:
            return x

def loader(filename,separator='\t',nan='-1'):
    with open(filename,'r') as f:
        rows = [x for x in f.read().split('\n') if x]
    rows = [x.split(separator) for x in rows]
    colnames = rows[0]
    data = rows[1:]
    data = [[try_to_numerify(x) for x in row] for row in data]
    return pd.DataFrame(data,columns=colnames)

df = loader("src/static/qviz.tsv")
df.describe()

,implementation,R1,R2,R3,R4,R5,R6,R7,R8,I1,...,C4,C5,C6,C7,C8,accuracy,elapse,fromsearch,age,gender
count,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,...,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,8.855000e+03,8855.000000,8855.000000,8855.000000,8855.000000
mean,1.759232,2.419537,2.158780,1.769170,2.256014,1.664370,2.321062,1.897798,1.957990,3.431959,...,2.292942,2.478035,2.636364,2.064032,2.132016,2.425820e+05,371.139808,0.424732,-0.396386,6.891587
std,0.427574,1.296048,1.242859,1.174141,1.328759,1.057555,1.322437,1.139695,1.177704,1.313977,...,1.246006,1.367004,1.289875,1.174839,1.194761,2.282105e+07,5994.367811,0.494330,1.103554,15.468571
min,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000e+00,-1.000000,0.000000,-1.000000,-1.000000
25%,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.300000e+01,84.000000,0.000000,-1.000000,-1.000000
50%,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,4.000000,...,2.000000,2.000000,3.000000,2.000000,2.000000,8.500000e+01,160.000000,0.000000,-1.000000,-1.000000
75%,2.000000,3.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,4.000000,...,3.000000,4.000000,4.000000,3.000000,3.000000,9.500000e+01,230.000000,1.000000,-1.000000,-1.000000
max,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,2.147484e+09,509296.000000,1.000000,3.000000,100.000000

As we can see, there is an issue with accuracy. Implementation column seems needless. Gender and age seem almost empty. 

Let's create data sets:
* one containing the data with age and gender
* one with aggregated RIASEC measures and countries

In [28]:
dfag = df.query("age != -1 and gender != -1")
riasec = df.drop(["age","gender","fromsearch","accuracy","elapse","implementation"],1)
riasec['Rclass'] = (riasec.R1 + riasec.R2 + riasec.R3 + riasec.R4 + riasec.R5 + riasec.R6 + riasec.R7 + riasec.R8)
riasec['Iclass'] = (riasec.I1 + riasec.I2 + riasec.I3 + riasec.I4 + riasec.I5 + riasec.I6 + riasec.I7 + riasec.I8)
riasec['Aclass'] = (riasec.A1 + riasec.A2 + riasec.A3 + riasec.A4 + riasec.A5 + riasec.A6 + riasec.A7 + riasec.A8)
riasec['Sclass'] = (riasec.S1 + riasec.S2 + riasec.S3 + riasec.S4 + riasec.S5 + riasec.S6 + riasec.S7 + riasec.S8)
riasec['Eclass'] = (riasec.E1 + riasec.E2 + riasec.E3 + riasec.E4 + riasec.E5 + riasec.E6 + riasec.E7 + riasec.E8)
riasec['Cclass'] = (riasec.C1 + riasec.C2 + riasec.C3 + riasec.C4 + riasec.C5 + riasec.C6 + riasec.C7 + riasec.C8)
riasec = riasec.select(lambda x: x in ['Rclass','Iclass','Aclass','Sclass','Eclass','Cclass','country'],1)
riasec.describe()

,Rclass,Iclass,Aclass,Sclass,Eclass,Cclass
count,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000,8855.000000
mean,16.444720,23.977301,23.499718,24.581818,19.301186,18.270807
std,7.086629,8.282103,8.092654,7.513248,6.857728,7.616697
min,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000
25%,10.000000,18.000000,18.000000,19.000000,14.000000,12.000000
50%,15.000000,24.000000,24.000000,25.000000,19.000000,17.000000
75%,21.000000,30.000000,30.000000,30.000000,24.000000,24.000000
max,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000

In [32]:
riasec.groupby(by='country').describe().select(lambda x:x[1]=='mean')

                 Aclass     Cclass     Eclass     Iclass     Rclass     Sclass
country
A1      mean  33.500000  14.000000  22.000000  25.000000  21.000000  26.500000
A2      mean  35.000000  17.500000  18.000000  19.500000  18.500000  34.500000
AE      mean  24.785714  15.714286  19.357143  25.928571  18.071429  27.357143
AF      mean  24.000000   9.000000  25.000000  27.000000  10.000000  23.000000
AI      mean  12.000000  22.000000  19.000000  12.000000   8.000000  29.000000
AL      mean  22.833333  20.166667  20.333333  27.500000  13.833333  19.666667
AP      mean  26.666667  25.000000  23.833333  23.166667  21.333333  26.833333
AR      mean  26.000000  15.300000  19.800000  21.100000  15.100000  25.000000
AS      mean  23.000000  22.000000  22.000000  14.000000  21.000000  33.000000
AT      mean  24.000000  19.428571  20.142857  23.214286  16.214286  23.500000
AU      mean  23.316568  18.168639  19.310651  24.786982  16.023669  23.887574
AZ      mean  32.000000  12.000000  17.500000  28.000000  12.500000  26.500000
BA      mean  32.000000  19.666667  17.666667  31.000000  21.666667  32.666667
BD      mean  16.000000   8.000000  20.000000  10.000000  13.000000  10.000000
BE      mean  25.655172  14.172414  18.310345  24.068966  12.793103  25.379310
BG      mean  29.200000  16.500000  20.000000  27.500000  17.600000  26.300000
BH      mean  15.000000  20.500000  20.000000  16.500000  20.000000  25.500000
BM      mean  22.000000  12.000000  11.000000  28.000000  15.000000  14.000000
BN      mean  23.666667  26.666667  25.333333  32.666667  20.333333  26.333333
BO      mean  31.000000  11.000000  21.000000  13.000000  14.000000  23.000000
BR      mean  24.892857  15.107143  16.642857  24.714286  16.071429  18.500000
BS      mean  32.000000  18.000000  11.000000  19.000000  13.000000  30.000000
BY      mean  23.666667  17.333333  20.333333  33.333333  16.666667  23.666667
CA      mean  23.313115  18.595082  19.090164  23.962295  16.539344  23.724590
CH      mean  26.228571  18.542857  19.600000  23.514286  17.028571  23.314286
CL      mean  24.571429  17.285714  21.428571  25.000000  18.714286  25.428571
CN      mean  25.615385  15.076923  22.346154  23.000000  16.230769  25.653846
CO      mean  25.125000  15.750000  19.250000  25.000000  17.500000  22.125000
CR      mean  18.333333  18.166667  17.333333  24.333333  15.833333  17.833333
CV      mean  29.000000  32.000000  31.000000  11.000000  17.000000  35.000000
...                 ...        ...        ...        ...        ...        ...
PK      mean  25.916667  17.250000  19.750000  22.416667  17.750000  27.500000
PL      mean  24.090909  21.909091  21.090909  26.000000  17.227273  20.818182
PR      mean  19.250000  12.000000  14.000000  24.000000  13.500000  21.500000
PS      mean  21.000000  13.000000  19.000000  17.000000  19.000000  22.000000
PT      mean  24.588235  18.941176  18.352941  26.705882  17.764706  20.117647
QA      mean  31.000000  13.000000  23.000000  34.000000  27.000000  30.000000
RO      mean  22.156250  16.843750  18.968750  22.093750  15.343750  21.093750
RS      mean  22.100000  14.100000  19.200000  26.900000  15.000000  21.300000
RU      mean  18.900000  16.700000  18.300000  14.800000  16.600000  13.300000
SA      mean  19.454545  20.000000  20.272727  22.181818  18.545455  24.909091
SE      mean  21.540541  18.216216  17.972973  22.810811  16.675676  19.756757
SG      mean  23.250000  19.298387  23.080645  23.129032  16.975806  25.475806
SI      mean  21.527778  20.000000  19.388889  26.222222  20.000000  21.555556
SK      mean  26.857143  19.000000  18.857143  24.857143  18.000000  22.285714
SL      mean  35.000000  23.000000  20.000000  27.000000  22.000000  31.000000
SV      mean  30.000000  15.000000  24.000000  29.000000  11.000000  32.000000
SY      mean  22.000000  22.000000  18.000000  16.000000  22.000000  18.000000
TH      mean  20.545455  20.772727  22.227273  17.954545  16.136364  23.227273
TJ      mean  16.000000   8.000000   8.000000  11.000000   8.000000  16.000000
TR      mean  28.545455  17.636364  22.227273  28.090909  18.500000  28.045455
TT      mean  20.090909  16.272727  18.545455  15.727273  13.090909  24.363636
TW      mean  24.666667  21.333333  23.666667  22.000000  18.333333  26.000000
TZ      mean  18.000000  18.000000  15.000000  21.500000  14.000000  21.000000
UA      mean  17.666667  22.666667  20.333333  27.333333  14.666667  21.666667
US      mean  23.140286  18.110596  18.833179  23.920022  16.265170  24.846168
UY      mean  24.333333  24.333333  17.333333  21.000000  18.000000  17.000000
VE      mean  30.285714  16.428571  23.000000  23.000000  19.285714  25.857143
VI      mean  21.000000  21.500000  20.000000  22.500000  23.000000  31.000000
VN      mean  25.363636  18.090909  20.636364  22.000000  16.181818  25.000000
ZA      mean  23.468085  15.574468  16.680851  25.446809  16.255319  21.553191

[128 rows x 6 columns]

In [47]:
euro = ['AL','AD','AM','AT','BY','BE','BA','BG','CH','CY','CZ','DE','DK','EE','ES','FO','FI','FR','GB','GE','GI','GR','HU','HR','IE','IS','IT','LT','LU','LV','MC','MK','MT','NO','NL','PO','PT','RO','RU','SE','SI','SK','SM','TR','UA','VA']
dfeu = df.query("country in @euro")
dfeu.query('age > 1')['age'].mean()
dfeu.groupby(by='gender').count()

,implementation,R1,R2,R3,R4,R5,R6,R7,R8,I1,...,C4,C5,C6,C7,C8,accuracy,elapse,country,fromsearch,age
gender,,,,,,,,,,,,,,,,,,,,,
-1,896,896,896,896,896,896,896,896,896,896,...,896,896,896,896,896,896,896,896,896,896
14,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
15,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
16,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
17,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
18,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
19,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
20,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
21,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
22,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22
23,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
24,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
25,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
26,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
27,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
28,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
29,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
30,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
31,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
32,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
33,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
34,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
35,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
36,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
37,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
38,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
39,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
40,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
41,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
42,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
43,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
44,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
45,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
46,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
47,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
48,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
49,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
50,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
51,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
52,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
53,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
54,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
55,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
57,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
58,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
59,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
60,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
62,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
63,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
100,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [55]:
riasec.corr()

          Rclass    Iclass    Aclass    Sclass    Eclass    Cclass
Rclass  1.000000  0.344531  0.131872  0.081295  0.258789  0.458567
Iclass  0.344531  1.000000  0.348474  0.191063  0.066871  0.118784
Aclass  0.131872  0.348474  1.000000  0.337216  0.262840 -0.044107
Sclass  0.081295  0.191063  0.337216  1.000000  0.435966  0.166866
Eclass  0.258789  0.066871  0.262840  0.435966  1.000000  0.457094
Cclass  0.458567  0.118784 -0.044107  0.166866  0.457094  1.000000

In [67]:
from sklearn.decomposition import PCA
pca = PCA(30).fit(df.drop('country',1).as_matrix())
pca.get_params()

{'copy': True, 'n_components': 30, 'whiten': False}